:root{
    --cor--principal: #47003C;
    --cor--secundaria: #77176E;
    --cor--logo: #ECCD24;
    --cor--light: #FFFFFF;
}

.cards{
    border: 2px solid black;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    position: absolute;
    top: 10%;
    gap: 2%;
}

.cards.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  .cards.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }


.cards__card{
    background-color: var(--cor--principal);
    width: 260px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__card > .card__adicionar{
    background-color: var(--cor--secundaria);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.card__adicionar > i{
    color: #ECCD24;
    font-size: 50px;
}







/*Janela Flutuante*/

.modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    width: 60vw;
    height: 60vh;
    background-color: #77176E;
    border-radius: 1dvi;
    justify-content: center;
    align-items: center;
  }

  .overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  #openBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }


  form{
    width: 97%;
    height: 95%;
    background-color: white;
    border-radius: 2dvi;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .caixa__inputs{
    width: 40vw;
    height: 30vh;
    position: absolute;
    top: 5%;
    left: 3%;
  
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 0px 20px;
  
  }
  
  .inputs__form{
    background-color: transparent;
    border: 2px solid #47003C;
    border-radius: 0.3dvi;
    padding: 0.6em;
  }
  
  .inputs__form:focus-visible{
    outline: none;
  }
  
  .label__text{
    font-size: 16px;
  }
  
  .id__input{
    width: 2vw;
  }
  
  .nome__input{
    width: 16vw;
  }
  
  .contato__input{
    width: 16vw;
  }
  
  .email__input{
    width: 20vw;
  }
  
  .telefone__input{
    width: 16vw;
  }
  
  .endereco__input{
    width: 31vw;
  }
  
  .numero__input{
    width: 5vw;
  }
  
  
  .caixa__logo{
    position: absolute;
    right: 4%;
    top: 10%;
    background-color: #77176E;
    width: 12vw;
    height: 24vh;
    border-radius: 0.5dvi;
    box-shadow: 2px 2px 10px 1px #8d8d8d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .botoes{
    position: absolute;
    bottom: 5%;
    right: 2%;
    width: 25vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .botoes__form{
    width: 10vw;
    padding: 1em 0;
    background-color: #77176E;
    border: none;
    color: #ECCD24;
    border-radius: 0.2dvi;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
  
    box-shadow: 0 0 5px 1px #47003C;
  }
  
  .botoes__form:hover{
    transform: scale(1.02);
  }